.producto1 {
        grid-area: producto1;
        margin-left: 15%;   
    }
.producto2 {
        grid-area: producto2;
        margin-left: 15%; 
    }
.producto3 {
        grid-area: producto3;
        margin-left: 15%; 
    }
.imgProductos {
        width: 300px;
    }
.producto4 {
        grid-area: producto4;
        margin-left: 15%; 
    
    }
.producto5 {
        grid-area: producto5;
        margin-left: 15%; 
    }
.producto6 {
        grid-area: producto6;
        margin-left: 15%; 
    }
.imgProductos2 {
        width: 300px;
    }