.footer {
    grid-area: footer;
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
    background-color: $celeste;
    justify-content: space-evenly;
    align-items: center;
    color: $blanco;
 }